// Cards
// -----------------------------------------------------------------------------

.card-header {
  color: $back-primary;
  text-transform: uppercase;
}

// Pills
// -----------------------------------------------------------------------------

.wk-pill {
  border-radius: 10rem;
  padding: .2em .6em;
}
