// NOTE: Do leave me up here
@import 'styles/palette';
@import 'styles/reset';
@import 'styles/variables';

@import 'styles/candidate';
@import 'styles/header';
@import 'styles/helpers';
@import 'styles/layout';
@import 'styles/ui';
